body {
    background-color: rgb(0, 0, 50);
    font-family: 'Cabin', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 150px;
    color: azure;
}

.userPic {
    height: 100%;
    width: auto;
}

.userDetails {
    background-color: rgb(80, 200, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px, 15px;
    flex-grow: 2;
}